body {
  padding-top: 50px;
  padding-left: 5%;
  font-family: Sans-Serif;
  font-size: 1.2rem;
  color: white;
  background-color: #4684ff;
  margin: 0;
}

.hidden {
  display: none;
}

.results-container{
	padding-bottom: 6em;
	

.